// .main{
//   display: flex;
//   flex-direction: column;
//   gap: 25px;

//   .title{
//     font-size: 32px;
//     font-weight: 400;
//   }

//   form{
//     .fieldsDiv{
//       display: flex;
//       flex-direction: column;
//       flex-wrap: wrap;
//       height: 180px;
//       // background-color: beige;
//       justify-content: space-between;
//       gap: 25px;
      
//       .fieldInfo{
//         display: flex;
//         flex-direction: column;
//         gap: 8px;

//         input{
//           background: none;
//           border: none;
//           background-color: #2A2A2A;
//           color: white;
//           outline: none;
//           padding: 4px 8px;
//           font-size: 20px;
//           height: 30px;
//           border-radius: 8px;
//         }
//       }

//       select{
//         background-color: #2A2A2A;
//         color: white;
//         outline: none;
//         max-width: fit-content;
//         padding: 4px 8px;
//         border-radius: 4px;
//         border: none;
//         margin-top: 8px;
//         height: 100%;
//         font-size: 20px;

//       }

//     }

//     .addButton{
//       cursor: pointer;
//       background-color: #2A2A2A;
//       padding: 8px 12px;
//       border: none;
//       border-radius: 2px;

//       color: white;
//       height: fit-content;
//       place-self: flex-end;
//       font-size: 20px;

//       margin-top: 25px;
//     }
//   }
// }

.main{
  display: flex;
  flex-direction: column;
  gap: 20px;

  .title{
    font-family: "Ubuntu Sans Mono", monospace;
  }

  .theForm{
    display: flex;
    background-color: #1C1C1C;
    gap: 16px;
    // width: fit-content;
    padding: 16px;
    border-radius: 10px;
    
    .inputs{
      display: flex;
      flex-direction: column;
      gap: 8px;
      justify-content: space-between;
      
      select{
        min-width: 300px;
        // height: 46.5%;
        color: white;
        font-size: 16px;
        padding: 8px 12px;
        border-radius: 10px;
        border: none;
        outline: none;
        background-color: #2A2A2A;

        &:focus{
          background-color: #383838;
        }
      }

      .textInput{
        color: white;
        font-size: 16px;
        padding: 8px 12px;
        border-radius: 10px;
        border: none;
        outline: none;
        background-color: #2A2A2A;
      
        &:focus{
          background-color: #383838;
        }
      }

      textarea{
        font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
        min-height: 150px;
        color: white;
        font-size: 16px;
        padding: 8px 12px;
        border-radius: 10px;
        border: none;
        outline: none;
        background-color: #2A2A2A;
        resize: none;

        &:focus{
          background-color: #383838;
        }
      }

    }
    .desc{
      width: 100%;
    }

    button{
      font-size: 16px;
      border-radius: 10px;
      height: fit-content;
      padding: 8px 12px;
      background-color: #2A2A2A;
      align-self: flex-end;
      border: none;
      color: white;

      &:hover{
        background-color: #383838;
        cursor: pointer;
      }
    }
  }
}