.navbar{
  display: flex;
  justify-content: space-between;
  background-color: #2A2A2A;
  padding: 20px 50px;
}

.navbarPart{
  display: flex;
  align-items: center;
  gap: 10px;

  .user{
    display: flex;
    flex-direction: column;
    line-height: 16px;
  }

  .type{
    font-family: "Ubuntu Sans Mono", monospace;
    font-size: 12px;
    font-weight: 200;
    color: rgb(208, 208, 208);
  }
}

.navbarButton{
  padding: 4px 12px;
  border-radius: 10px;
  font-family: "Ubuntu Sans Mono", monospace;

  
  &:hover{
    background-color: rgb(217,217,217,0.1);
    cursor: pointer;
  }
}

.logout{
  width: 25px;
  height: 25px;
  object-fit: cover;
  
  &:hover{
    cursor: pointer;
  }
}