.main{
  display: flex;
  flex-direction: column;
  gap: 20px;

  .theForm{
    
    display: flex;
    background-color: #1C1C1C;
    gap: 10px;
    width: fit-content;
    padding: 16px;
    border-radius: 10px;
    
    .inputs{
      display: flex;
      flex-direction: column;
      gap: 8px;
      
      input{
        color: white;
        font-size: 16px;
        padding: 8px 12px;
        border-radius: 10px;
        border: none;
        outline: none;
        background-color: #2A2A2A;
      }
    }

    button{
      font-size: 16px;

      border-radius: 10px;
      height: fit-content;
      align-self: flex-end;
      padding: 8px 12px;
      background-color: #2A2A2A;
      border: none;
      color: white;
      
        &:hover{
          background-color: #383838;
          cursor: pointer;
        }
    }
  }
}