.page{
  display: flex;
  flex-direction: column;
  background: none;  

  .main{
    display: flex;
    flex-direction: column;
    padding: 50px 50px;
    gap: 50px;

    .buttons{
      display: flex;
      flex-direction: column;
      font-size: 32px;
      gap: 20px;

      button{
        cursor: pointer;
        width: fit-content;
        background: none;
        outline: none;
        color: white;
        border: none;
        font-size: 32px;
      }
    }
  }

  .title{
    font-weight: 600;
    font-size: 48px;
  }

}