@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  /* color-scheme: light dark; */
  background-color: #111;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #111;
  color: white;
  font-weight: 400;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.toast {
  z-index: 999;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #49c4c8;
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.rs-table{
  border-radius: 10px;
}

.rs-theme-dark{
  --rs-body: blue;
}

.rs-table-cell{
  background-color: #1c1c1c;
}

.rs-uploader{
  width: 300px;
}

.rs-uploader-trigger-btn{
  border-radius: 10px;
  width: auto !important;
}

button[class^="rs-btn"]{
  /* scale: 2; */
  &:hover{
    filter: brightness(110%);
  }
}

textarea.rs-input{
  resize: none !important;
  height: 100%;

}

.rs-uploader-file-item-btn-remove{
  display: none;
}

.rs-uploader{
  display: flex;
  gap: 16px;
  width: 100%;
  height: 100%;
}

.rs-uploader-trigger-btn{
  padding: 10px;
  height: 100% !important;
}

.rs-picker-toggle-wrapper{
  /* height: 60px; */
  width: 100%;
}

.rs-modal-content{
  border: 2px rgb(44, 44, 44) solid;
  background-color: #111;
  border-radius: 10px;
}

p+p{
  margin: 0;
}
